@import url(1.css);
@font-face{
font-family:"Trenda W00 Regular";
src:url("../fonts/9f67f46a-a677-4274-b1d7-eb9468d98da3.eot#iefix");
src:url("../fonts/9f67f46a-a677-4274-b1d7-eb9468d98da3.eot#iefix") format("eot"),url("../fonts/6f27ae5f-d968-439a-af02-d19670ae0fd7.woff2") format("woff2"),url("../fonts/e45a54fb-5cae-4c92-a2f0-0b77fcbbe214.woff") format("woff"),url("../fonts/5a6516a3-2223-414e-9bc4-5f6cf2e613f1.ttf") format("truetype");
}
@font-face{
font-family:"Trenda W00 Semibold";
src:url("../fonts/f3778899-b016-4fe9-a5b9-aad6cd5cddf2.eot#iefix");
src:url("../fonts/f3778899-b016-4fe9-a5b9-aad6cd5cddf2.eot#iefix") format("eot"),url("../fonts/4a16b866-a90d-411d-8e39-f7d09fc5c1e4.woff2") format("woff2"),url("../fonts/8524131e-7623-4984-85f0-3ea23f5d1def.woff") format("woff"),url("../fonts/e34b7b9a-8859-4c8f-9b36-673ab1a012f7.ttf") format("truetype");
}
@font-face{
font-family:"Trenda W00 Bold";
src:url("../fonts/2562e870-3c9a-46d4-bf12-c84deacd2951.eot#iefix");
src:url("../fonts/2562e870-3c9a-46d4-bf12-c84deacd2951.eot#iefix") format("eot"),url("../fonts/a59a363d-e688-4ddc-b63d-3c8033694cfa.woff2") format("woff2"),url("../fonts/fe9039c9-9a25-4208-ae42-3e08b820c28f.woff") format("woff"),url("../fonts/cadc0602-e68e-4be4-a474-3cb72361908f.ttf") format("truetype");
}
