.search_results { padding:15px;margin:0 0 10px 0; }

.search_results .searchBox { position:relative;margin-right:34px; }
.search_results .searchBox .searchBtn {
	cursor: pointer;
	font-size: 14px;
	background: #f1aa1e;
	padding: 11px 11px 11px 11px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: -34px;
}
.search_results  span.pageText {
	font-family: 'Trenda W00 Regular';
	font-size: 14px;
	font-weight: 600;
	padding: 0px 15px;
	position: relative;
	top: -3px;
}
.search_results a.paginationLink.disabled {
	opacity: 0.6;
}
.search_results i.fa.fa-caret-left.double-second {
	margin-left: -5px;
}
.search_results a.paginationLink i {
	color: #d42561;
	font-size: 24px;
}
.search_results i.fa.fa-caret-right.double-start {
	margin-right: -5px;
}
.search_results_items .search_results_above { float:left;width:100%; }
.search_results_items .search_results_above h4 { float:left;margin:2px 30px 0 0; }

.search_results_items .search_results_pagination { padding:5px;margin:2px 0;float:right; }
.search_results_items .search_results_pagination a span { color:#ce5323;font-size:1.3rem;display:inline-block;position:relative;top:2px;background:#eadbba;border-radius:10px;padding:0 6px 0 8px; }
.search_results_items .search_results_pagination a span.fa-caret-left { padding:0 8px 0 5px; }

.search_results_items .search_results_notfound { margin:10px 0; }

.search_results_items .search_results_filters {
	background: #263a81;
	padding: 10px;
	margin: 10px 0;
	color:#fff;
}
.search_results_items .search_results_filters .search_results_facets { margin-top:10px; }
.search_results_items .search_results_filters .search_results_facets a { display:inline-block;margin-bottom:4px; color:#fff; }
.search_results_items .search_results_filters .removeFilter { font-size:0.8rem; }

.search_results_items .search_result_item { padding:10px 0;margin:0; }
.search_results_items .search_result_item_top { font-size:0.75rem; }
.search_results_items .search_result_item em { font-weight:bold; }
.search_results_items .search_result_item h4 { margin:0;font-size:1.2rem;display:inline-block; }
.search_results_items .search_result_item h4 a { color:#1a0dab; }
.search_results_items .search_result_item_bottom { color:#777;font-size:0.8rem; }
.search_results_items .search_result_item .search_result_item_bottom .search_anchor { 	
	color: #0493b4;
	font-family: 'Trenda W00 Bold'; 
	line-height: 1.3rem; 
	font-size: 17px;
	line-height: 28px;
}
.search_results_items .search_result_item .search_result_item_bottom p { color:#545454; margin:2px 0 0 0;}

.search_results_items img {
	margin-bottom: 15px;
}
@media only screen and (max-width: 64em) {
}