/*
|-----------------------------------------------------------------------------------------------------------
| HOMEPAGE SLIDESHOW SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.header-slideshow {
	width: 100%;
}
.header-slideshow .home-header {margin-bottom:  20px;}
.header-slideshow .home-header .slick-slide {
}
.header-slideshow .home-header img {
	flex: 1 1 auto;
}

.header-slideshow .home-header .item { position: relative; }

.header-slideshow .home-header .item img { width: 100%; }

.header-slideshow .arrow-cont {
	position: absolute; 
	left: 50%;
	top: 50%;
	z-index: 9;
	width: 100%;    
	transform:translate(-50%,-50%);
}
section.header-container.home-header,
.home-header-container,
.contentRender_name_plugins_collections_template_custom_header_slideshow_homepage {
	width: 100%; 
	display: flex;
}
.header-slideshow .slick-prev.slick-arrow, .header-slideshow .slick-next.slick-arrow {
	position:  absolute;
	background-color: #d42561;
	width: 50px;
	height: 49px;
	cursor: pointer;
	color: #fff;
	display: flex !important;
	align-items: center;
	justify-content: center;
	font-size:  30px;
	bottom: 0px;
	z-index: 1001;
	left: 0px;
}
.header-slideshow .slick-prev {
	transform: translateY(100%);
}
.header-slideshow .home-header .slick-next {
	right:0px;
}

/**** DOTS ****/

.header-slideshow ul.slick-dots {
	position:absolute;
	bottom:0px;
	height:97px;
	width:100%;
	margin:0px;
	text-align:center;
	padding:0px;
	list-style:none;
}
.header-slideshow ul.slick-dots li {    
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display:inline-block;
}
.header-slideshow ul.slick-dots li button {
	background-color:transparent!important;
	width:16px;
	height:16px;
	font-size:0px;
	padding:0px;
	margin:0px 8px 0px 8px; 
	border:2px #fff solid;  
	border-radius:50%;  
	vertical-align: top;
}
.header-slideshow ul.slick-dots li.slick-active button { background-color: #fff !important; 
}
/**** END DOTS ****/

@media only screen and (min-width: 1025px) {
	.header-slideshow .home-header,
	.header-slideshow .home-header .item {
		z-index: 1;
	}
}

@media only screen and (max-width: 40em) { 
	.header-slideshow .slick-prev, 
	.header-slideshow .slick-next { width: 40px; }
	.header-slideshow .home-header { min-height: 180px; }
}


@media only screen and (min-width: 40.063em) {}
/* HEADER HOMEPAGE AND INTRO PANEL */
.home-header-intro-panel {
	position: relative;
	width: 100%;
	display:  flex;
	margin-bottom:  100px;
}
.home-header-intro-panel .hh-arrows-container {
	position: absolute;
	bottom: 91px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: 1000;
}

.home-header-intro-panel .home-header-wrapper {
	width: calc(66.6% - 5px);
	float:  left;
	position:  relative;
}
.contentRender.contentRender_17.contentRender_type_panel.contentRender_name_plugins_common_intro_panel {
	display: none;
}
.hh-item .sh-description-container {
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 0px 15px 5px 80px;
	background-color: rgba(37, 58, 128, .8);
	min-height: 102px;
	display:  flex;
	flex-flow:  column;
	justify-content: center;
	z-index:  9;
}
.hh-item .sh-description-container h2 {
	font-family:'Trenda W00 Bold';
	font-size: 30px;
	line-height: 38px;
	color: #fff;
}
.hh-item .sh-description-container p {
	font-family:'Trenda W00 Regular';
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	float:  left;
	display:  inline-block;
}
.hh-item .sh-description-container a.sh-more-link {
	font-family:'Trenda W00 Bold';
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	float:  left;
	display:  inline-block;
}
.hh-item .sh-description-container a.sh-more-link:before {
	position: relative;
	color:  #fff;
	margin-left:  5px;
}
.hh-item .sh-imgcont {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.hh-item .sh-imgcont img {
	float: left;
	width: 50%;
	height:  100%;
}
.home-header-intro-panel .slick-prev.slick-arrow {
	margin-top: -7px;
}
.home-header-intro-panel .intro-panel {
	background-color: #d42561;
	width: calc(33.35% - 31px);
	float:  left;
	margin-top: 20px;
	margin-left: 36px;
	display:  flex;
	flex-flow:  column;
	align-items: flex-start;
	justify-content:  center;
	padding: 50px 65px;
	position: relative;
	transition: padding ease-in-out .8s;
}
.intro-panel .intro-accent {
	position: absolute;
	left: -33px;
	right: 100%;
	top: -20px;
	bottom: 0px;
	z-index:  0;
}
.intro-panel .intro-accent img {
	height: 100%;
	width: 30px;
}
.home-header-intro-panel .intro-panel h1 {
	color: #fff;
	font-size: 58px;
	line-height: 60px;
	margin-bottom: 20px;
	font-family: 'Trenda W00 Bold', sans-serif;
	max-width: 100%;
}
.home-header-intro-panel .intro-panel .sub-title {
	color: #fff;
	font-size: 18px;
	line-height: 28px;
	font-family: 'Trenda W00 Regular';
	text-transform:  uppercase;
	max-width: 100%;
	font-weight: 900;
	margin-bottom: 15px;
}
.home-header-intro-panel .intro-panel .intro-text {
	max-width: 100%;
	/* margin-right:  40px; */
}
.home-header-intro-panel .intro-panel .intro-text p {
	color: #fff;
	font-size: 18px;
	line-height: 28px;
	font-family: 'Trenda W00 Regular';
}
.home-header-intro-panel .slick-prev:before, .home-header-intro-panel .slick-next:before {
	display: none;
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	.home-header-intro-panel .intro-panel {
		padding-left: 20px;
		padding-right: 20px;
	}
	.home-header-intro-panel .intro-panel h1 {
		font-size: calc(40px + (58 - 40) * (100vw - 1025px) / (1200 - 1025));
		line-height: 1;
	}
}
@media only screen and (max-width:64em) {
	section.header-container.home-header,
	.home-header-container,
	.contentRender_name_plugins_collections_template_custom_header_slideshow_homepage {
		width: 100%; 
		display: block;
	}
	.home-header-intro-panel .intro-panel {
		width: calc(100% - 36px);
		margin-top: 1px;
		padding: 40px 20px;
	}
	.intro-panel .intro-accent {
	}
	.home-header-intro-panel .home-header-wrapper {
		width: 100%;
		position:  relative;
		z-index:  9;
		margin-bottom: 0px;
	}
	.header-slideshow .home-header {
		margin-bottom: 0px;
	}
	.home-header-intro-panel {
		display: block;
		margin-bottom: 40px;
	}
	.hh-item .sh-imgcont img {
		float: left;
		height:  100%;
	}
}
.mobile-image {
	display: none !important;
}
@media only screen and (max-width:40em) {
	.mobile-image {
		display: block !important;
	}
	.hh-item .sh-imgcont img {
		width: 100%;
	}
	.hh-item .sh-description-container p,
	.hh-item .sh-imgcont img:nth-child(2) {
		display: none;
	}
	.hh-item .sh-description-container h2 {
		font-size: 22px;
		line-height: 26px;
	}
	.home-header-intro-panel .intro-panel h1 {
		font-size: 40px;
		line-height: 48px;
		padding-right:  40px;
	}
	.home-header-intro-panel .intro-panel .sub-title {
		font-size: 16px;
		line-height: 28px;
		font-family: 'Trenda W00 Bold';
		padding-right:  40px;
	}
	.home-header-intro-panel .intro-panel p {
		font-size: 16px;
		line-height: 24px;
		font-family: 'Trenda W00 Regular';
	}
	.hh-item .sh-description-container a.sh-more-link {
		display: block;
	}
	.intro-panel .intro-accent img {
    	height: auto;
    	width: 30px;
    	position: absolute;
    	bottom: 0;
 }
	.intro-panel .intro-accent {
		height: calc(100% + 20px);
    	overflow: hidden;
	}
	.home-header-intro-panel .intro-panel .intro-text p {
		font-size: 16px;
		line-height: 24px;
	}
}
.ie-view .single-img {
	position: absolute;
	width: 100% !important;
}