/* HIGHLIGHTS */
.highlights-wrapper {
		position:  relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding-top: 128px;
		margin-bottom: 0;
}
.highlights-header,
.highlights-collection-description {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.highlights-collection-description {
	top: 180px;
	max-width:  33.33%;
	text-align:  left;
	padding: 0px 30px;
	font-size:  17px;
	line-height: 28px;
	font-weight: 600;
}
h2.highlights-header {
	font-family: 'Trenda W00 Bold';
	font-size: 132px;
	line-height: 134px;
	color: #253a80;
	top: 0px;
	width: 100%;
	text-align: center;
	text-transform:  uppercase;
}
.highlights-container {
	flex: 1 1 auto;
	align-self: flex-end;
	transition-property: flex;
	transition-timing-function: ease-in-out;
	transition-duration: .2s;
}
.highlights-container.first {
	flex: 1 1 28%;
}
.highlights-container.second {
	flex: 0 1 40%;
	align-self: flex-end;
}
.highlights-container.third {
	flex: 1 1 22%;
}
.highlights-container:nth-of-type(3) .hi-slide {
	overflow:  hidden;
}
.hi-slide {
	position: relative;
}
.hi-slide .sh-description-container {
	padding: 10px 20px;
	/* z-index: 0; */
	max-height: 64px;
}
.hi-slide .sh-description-container h3 {
	font-size: 28px;
	margin-bottom: 6px;
	color: #fff;
	transition:  padding ease-in-out .2s;
	position:  relative;
	z-index:  5;
}
.hi-slide .sh-description-container.triangle svg {
	z-index: 1;
	width: 320px;
	max-width: 95%;
}
.hi-slide .sh-description-container p,
.hi-slide .sh-description-container a.sh-more-link {
	font-size: 16px;
	line-height: 24px;
	max-height: 0px;
	overflow: hidden;
	transition-property: margin-bottom, max-height, padding;
	transition-duration: .5s;
	transition-timing-function: ease;
	padding:  0px;
	position:  relative;
	z-index:  5;
}
.hi-slide:hover .sh-description-container p {
	max-height: 100px;
	margin-bottom: 5px;
	transition-property: margin-bottom, max-height, padding;
	transition-duration: .75s;
	transition-timing-function: ease;
	padding: 0px;
}
.hi-slide:hover .sh-description-container {
	max-height: 100%;
}
.hi-slide:hover .sh-description-container a.sh-more-link {
	max-height: 100px;
	margin-bottom: 11px;
	padding: 14.5px 20px;
	transition-property: margin-bottom, max-height, padding;
	transition-duration: .75s;
	transition-timing-function: ease-in-out;
}
.hi-slide .sh-description-container a.sh-more-link {
	font-family: 'Trenda W00 Bold', sans-serif;
	color: #fff;
	width:  auto;
	display: inline-block;
	background-color: #f1aa1d;
	padding: 0;
	margin:  0 auto;
	text-transform: uppercase;
}
.hi-slide a.sh-more-link::before {
	content: '';
	display: none;
}
@media only screen and (max-width: 1400px) {
	.highlights-collection-description {
		top: 138px;
		max-width:  42%;
		text-align:  left;
		padding: 0px 68px;
		font-size:  15px;
		line-height: 25px;
		font-weight: 600;
		padding-right: 0px;
	}
}
@media only screen and (max-width: 64em) {
	.highlights-wrapper {
		flex-flow: row wrap;
		padding-top:  110px;
		margin-bottom:  40px;
	}
	.hi-slide .sh-description-container,
	.hi-slide:hover .sh-description-container {
		height: auto;
		max-height: 100%;
	}
	.highlights-collection-description {
		top: 180px;
		max-width:  43%;
		text-align:  center;
		padding: 0px 30px;
		font-size:  17px;
		line-height: 28px;
		font-weight: 600;
	}
	h2.highlights-header {
		font-size: 100px;
		line-height: 1.1;
		width: 100%;
		text-align: center;
	}
	.highlights-collection-description {
		top: 105px;
		max-width: 34%;
		text-align: left;
		right: 0px;
		padding: 0 20px;
		transform:  translateX(0%);
		margin-left: 8%;
	}
	.highlights-container {
		flex: 1 1 45%;
		align-self: flex-end;
	}
	.highlights-container:nth-of-type(1) {
		flex: 1 2 50%;
	}
	.highlights-container:nth-of-type(2) {
		flex: 1 1.2 45%;
	}
	.highlights-container:nth-of-type(3) {
		flex: 1.2 1 50%;
		align-self: flex-end;
	}
	.highlights-container:last-child {
		display: flex;
	}
	.highlights-container:last-child .hi-slide {
		flex: 1 1 auto;
	}
	.highlights-container .sh-description-container h3 {
		font-size: 22px;
		line-height: 24px;
		padding: 12px 20px 5px;
	}
	.highlights-container .sh-description-container p,
	.highlights-container .sh-description-container a.sh-more-link {
		display: none;
	}
}
@media only screen and (max-width: 47em) {
	.highlights-container:nth-of-type(2) {
		flex: 1 1 50%;
	}
	.highlights-container:nth-of-type(3) {
		flex: 1 1 40%;
		align-self: flex-end;
	}
}
@media only screen and (max-width: 40em) {
	.hi-slide:hover .sh-description-container p {
		transition: none;
	}
	.highlights-wrapper,
	.highlights-container:last-child {
		display: block;
		padding: 0;
	}
	h2.highlights-header {
		font-size: 60px;
		position:  relative;
		margin:  0 15px;
	}
	.highlights-collection-description {
		position: static;
		display: block;
		width: auto;
		margin: 0 20px;
		padding: 0px;
		padding-bottom:  20px;
		max-width: 100%;
	}
	.highlights-container .sh-description-container h3 {
		font-size: 28px;
		line-height: 1;
		padding: 6px 15px 6px;
	}
	.hi-slide .sh-description-container.triangle svg {
		max-width: 103%;
	}
}