.search-imagebox-holder .search-imagebox {
	position: relative;
	background-color: #000;
}
.search-imagebox-holder .search-imagebox img {
	opacity: .7;
}
.search-imagebox-holder .search-imagebox .title {
	position: absolute;
	top: 50%;
	width: 100%;
	padding: 0 10px;
	transform:translateY(-50%);
	color: #FFF;
	font-family:'Trenda W00 Bold';
	z-index: 5;
	text-align: center;
	font-size: 25px;
	line-height: 23px;
}
.search-imagebox-holder .search-imagebox a:hover:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(212, 37, 97);
	opacity: .7;
}
@media only screen and (max-width: 40em) {
	.search-imagebox-holder .search-imagebox .title {
		font-size: 20px;
	}
}