@font-face {
  font-family: 'TrendaW00';
  src: url('../fonts/Trenda W001/TrendaW00-Semibold.eot');
  src: url('../fonts/Trenda W001/TrendaW00-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Trenda W001/TrendaW00-Semibold.woff2') format('woff2'),
  url('../fonts/Trenda W001/TrendaW00-Semibold.woff') format('woff'),
  url('../fonts/Trenda W001/TrendaW00-Semibold.ttf') format('truetype'),
  url('../fonts/Trenda W001/TrendaW00-Semibold.svg#TrendaW00-Semibold') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TrendaW00';
  src: url('../fonts/Trenda W001/TrendaW00-Regular.eot');
  src: url('../fonts/Trenda W001/TrendaW00-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Trenda W001/TrendaW00-Regular.woff2') format('woff2'),
  url('../fonts/Trenda W001/TrendaW00-Regular.woff') format('woff'),
  url('../fonts/Trenda W001/TrendaW00-Regular.ttf') format('truetype'),
  url('../fonts/Trenda W001/TrendaW00-Regular.svg#TrendaW00-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TrendaW00';
  src: url('../fonts/Trenda W001/TrendaW00-Bold.eot');
  src: url('../fonts/Trenda W001/TrendaW00-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Trenda W001/TrendaW00-Bold.woff2') format('woff2'),
  url('../fonts/Trenda W001/TrendaW00-Bold.woff') format('woff'),
  url('../fonts/Trenda W001/TrendaW00-Bold.ttf') format('truetype'),
  url('../fonts/Trenda W001/TrendaW00-Bold.svg#TrendaW00-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
